# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Jira
JIRA_API=

# FrontApp
FRONTAPP_API=

# Gmail
GMAIL_APP_PASSWORD=

# JuneOS
JUNEOS_DEV_PASSWORD=
JUNEOS_PROD_LOGIN=
JUNEOS_PROD_PASSWORD=

# ELK
ELK_DEV=
ELK_PROD=

# Notion
NOTION_SECRET=

# Redis / Celery
REDIS_URL=redis://localhost:6379/0
